html, body {
  height: 100%;
  margin: 0;
}
core-scroll-header-panel {
  height: 100%;
}

.main-content, card {
    padding: 30px;
}

.post-card{
    margin-bottom: 30px;
    background-color: white;
}

.post-content{
    padding: 20px;
    margin-top: 80px;
    background-color: white;
}
.card-content {
    margin-left: 30px;
}

#right-margin{
    margin-right: 30px;
}

.page-title{
    margin-bottom: 30px;
}

#toolbar{
    background-color: #3F51B5;
    color: white;
}

#title{
color: #fff;
}

.white{
    color: #fff;
}

/* drawer is always visible on a wide screen
   so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

core-header-panel {
background-color: white;
}

img{
    padding-top: 16px;
    padding-bottom: 16px;
}

.main-card{
    max-width: 800px;
    padding: 32px;
    margin: 16px;
    background-color: white;
}

.works-card{
    padding: 16px;
    margin: 16px;
    max-width: 400px;
}

.nopadding{
    padding: 0px;
}