@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 200;
  src: local('NotoSansCJKKRThin'), local('Noto Sans CJK KR-Thin'), local('NotoSansCjkKR Thin');
  src: url(../fonts/NotoSansCJKKRThin.eot);
  src: url(../fonts/NotoSansCJKKRThin.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansCJKkr-Thin.woff) format('woff'),
       url(../fonts/NotoSansCJKKRThin.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 300;
  src: local('NotoSansCJKKRLight'), local('Noto Sans CJK KR-Light'), local('NotoSansCjkKR Light');
  src: url(../fonts/NotoSansCJKKRLight.eot);
  src: url(../fonts/NotoSansCJKKRLight.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansCJKkr-Light.woff) format('woff'),
       url(../fonts/NotoSansCJKKRLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansCJKKRRegular'), local('Noto Sans CJK KR-Regular'), local('NotoSansCjkKR Regular');
  src: url(../fonts/NotoSansCJKKRRegular.eot);
  src: url(../fonts/NotoSansCJKKRRegular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansCJKkr-Regular.woff) format('woff'),
       url(../fonts/NotoSansCJKKRRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 700;
  src: local('NotoSansCJKKRBold'), local('Noto Sans CJK KR-Bold'), local('NotoSansCjkKR Bold');
  src: url(../fonts/NotoSansCJKKRBold.eot);
  src: url(../fonts/NotoSansCJKKRBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansCJKkr-Bold.woff) format('woff'),
       url(../fonts/NotoSansCJKKRBold.ttf) format('truetype');
}

body{
    font-family: 'Noto Sans CJK KR', sans-serif;
}
