body{
  margin: 0;
}

.header{
  padding: 16px;
  text-align: center;
  background-color: black;
  color: white;
  animation-name: fadeindown;
  -webkit-animation-name: fadeindown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.content{
  margin: auto;
  max-width: 800px;
  margin-top: 32px;
  padding: 16px;
  text-align: center;
  animation-name: fadeinup;
  -webkit-animation-name: fadeinup;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.button{
  margin: 12px;
  padding: 12px;
  border: thin solid black;
  background-color: white;
  color: black;
  box-shadow: -8px 8px 0;
}

.button:hover, .button:active{
  position: relative;
  top: 4px;
  right: 4px;
  box-shadow: -4px 4px 0;
}

.details{
  border: thin solid black;
  margin: 16px;
  padding: 16px;
}

@keyframes fadeinup {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeinup {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeindown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeindown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media only screen and (max-width: 600px) {

  .title-cell{
   padding: 16px;
  }

  .title{
    font-size: 2em;
  }
}
