---
layout: default
title: Archive
permalink: /archive/
---




 <paper-scroll-header-panel class="flex">
    <paper-toolbar id="toolbar" id="mainheader">
      <paper-icon-button onclick="href('/blog/')" icon="arrow-back" ></paper-icon-button>
        <span flex style="color:white;">{{ page.title }}</span>
    </paper-toolbar>

    <div class="main-content">
      {% for post in site.posts  %}

    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
         <paper-material class="post-card" z="1">
             <card>
    <h2 class="card-content" id="{{ this_year }}-ref">{{this_year}}</h2><br>
    <!-- <ul> -->
    {% endif %}
    <li><h4 class="card-content"><a href="{{ post.url }}">{{ post.title }}</a>
      <br><small>{{ post.date | date: "%Y/%m/%d" }}</small></h4></li>
    {% if forloop.last %}
                   </card>
              </paper-material>
    {% else %}
        {% if this_year != next_year %}
                  </card>
              </paper-material>
         <paper-material class="post-card" z="1">
             <card>
        <h2 class="card-content" id="{{ next_year }}-ref">{{next_year}}</h2>
        {% endif %}
    {% endif %}

{% endfor %}
    </div>
    </paper-scroll-header-panel>

<script src="{{ "/js/material.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>
