---
layout: default
title: Recent Posts
permalink: /blog/
---

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Youngbin Han's Blog</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Blog</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="/archive/">Archive</a>
      <a class="mdl-navigation__link" href="/tags/">Tags</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content" style="padding:32px;" align="center">
    {% for post in site.posts limit:15 %}

   <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp" style="max-width:1300px;">
           <div class="mdl-card__media mdl-color-text--grey-50"
           {% if post.image %}style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('{{ post.image }}'); height:200px;"{% endif %}>
             <h3 style="padding: 16px;"><a href="{{ post.url | prepend: site.baseurl }}" style="color:white;">{{ post.title }}</a></h3>
           </div>
           <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
             {{ post.content | strip_html | truncatewords:50 }}
           </div>
           <div>
               <p class="card-content"><iron-icon icon="today"></iron-icon> {{ post.date | date: "%Y.%m.%d" }}</p>
             </div>
         </div>
         <br>
{% endfor %}
<paper-button onclick="href('/archive/')" class="card-content">More Posts</paper-button>
</div>
  </main>
</div>


<script src="{{ "/js/material.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>
