---
layout: default
title: Recent Posts
permalink: /blog/
---


<paper-drawer-panel id="drawerPanel">

  <paper-header-panel drawer flex>
      {% include drawer.html %}
   </paper-header-panel>

 <paper-scroll-header-panel main>
    <paper-toolbar id="toolbar" id="mainheader">
      <paper-icon-button id="navicon" icon="menu" ></paper-icon-button>
        <span flex style="color:white;">{{ page.title }}</span>
    </paper-toolbar>
      
    <div class="main-content">
         {% for post in site.posts limit:10 %}
        <paper-material class="post-card" elavation="1">
        <card>
        <p class="card-content"><iron-icon icon="today"></iron-icon> {{ post.date | date: "%Y.%m.%d" }}</p>

        <h1 class="card-content">{{ post.title }}</h1>
            <p class="card-content" id="right-margin">{{ post.content | strip_html | truncatewords:50 }}</p>
            <paper-button onclick="href('{{ post.url | prepend: site.baseurl }}')" class="card-content"><iron-icon icon="add-box"></iron-icon> Read More</paper-button>
            <br><br>
            </card>
        </paper-material>
      
    {% endfor %}
        <br>
            <paper-button onclick="href('/archive/')" class="card-content">More Posts</paper-button>
    </div>
    </paper-scroll-header-panel>
</paper-drawer-panel>
<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>
