---
layout: page
title: Categories
permalink: /categories/
---

<div class="home">
  <h1>All Categories</h1>

  <div class="panel panel-default">
  <div class="panel-body">
  {% for category in site.categories %}
    <a href="#{{ category | first }}">
        <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>/{{ category | first }}/</span>
      </a>
  {% endfor %}
</div>
</div>

<h1>Posts by Category</h1>
{% for category in site.categories %}
<div class="panel panel-default">
<div class="panel-body">
  <h2 id="{{ category | first }}"><span class="glyphicon glyphicon-tag"></span> {{ category | first }}</h2>
    {% for posts in category %}
      {% for post in posts %}
<a href="{{ post.url }}">
  <h4>{{ post.title }} <br><small>{{ post.date | date: "%Y/%m/%d" }}</small></h4>
</a>
      {% endfor %}
    {% endfor %}
</div>
</div>
{% endfor %}


</div>
