---
layout: default
title: Tags
permalink: /tags/
---

<core-drawer-panel id="drawerPanel">

  <core-header-panel flex drawer>
      {% include drawer.html %}
   </core-header-panel>

  <core-header-panel main>
    <core-toolbar id="toolbar" id="mainheader">
      <paper-icon-button 
        id="navicon" icon="menu" class="white"></paper-icon-button>
        <span flex style="color:white;">{{ page.title }}</span>
    </core-toolbar>
    <div class="main-content">
      
        <paper-shadow class="post-card" z="1">
            <card>
                <p class="card-content"><core-icon icon="label"></core-icon> All Tags</p>
                <section id="right-margin">
                {% for tag in site.tags %}
                <a class="card-content" href="#{{ tag | first }}" > 
                    <paper-button>{{ tag | first }}</paper-button> </a>
                {% endfor %}
                </section>
            </card>
           
        </paper-shadow>
        
        
    
    
{% for tag in site.tags %}
<paper-shadow class="post-card" z="1">
            <card>
  <p class="card-content" id="{{ tag | first }}"><core-icon icon="label"></core-icon> {{ tag | first }}</p>
    {% for posts in tag %}
      {% for post in posts %}
<a href="{{ post.url }}">
  <h4 class="card-content" id="right-margin">{{ post.title }} <br><small>{{ post.date | date: "%Y/%m/%d" }}</small></h4>
</a>
      {% endfor %}
    {% endfor %}
 </card>
        </paper-shadow>
{% endfor %}
  </core-header-panel>

</core-drawer-panel>
<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>



