---
layout: default
title: Tags
permalink: /tags/
---

 <paper-scroll-header-panel class="flex">
    <paper-toolbar id="toolbar" id="mainheader">
      <paper-icon-button onclick="href('/blog/')" icon="arrow-back" ></paper-icon-button>
        <span flex style="color:white;">{{ page.title }}</span>
    </paper-toolbar>
      
    <div class="main-content">
       <paper-material style="margin:24px; padding:24px;" z="1">

                <h3><iron-icon icon="label"></iron-icon> All Tags</h3>
                {% for tag in site.tags %}
                    <paper-button onclick="href('#{{ tag | first }}')">{{ tag | first }}</paper-button>
                {% endfor %}
        </paper-material>
        
        {% for tag in site.tags %}
<paper-material style="margin:24px; padding:24px;" z="1">
  <p class="card-content" id="{{ tag | first }}"><iron-icon icon="label"></iron-icon> {{ tag | first }}</p>
    {% for posts in tag %}
      {% for post in posts %}
<a href="{{ post.url }}">
  <h4 class="card-content" id="right-margin">{{ post.title }} <br><small>{{ post.date | date: "%Y/%m/%d" }}</small></h4>
</a>
      {% endfor %}
    {% endfor %}
        </paper-material>
{% endfor %}
    </div>
    </paper-scroll-header-panel>




<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>



