  
    <core-menu>
        <github-card user="sukso96100"></github-card>
        <a href="/"><paper-item><core-item icon="home" label="Home"</core-item></paper-item></a>
        <a href="/about/"><paper-item><core-item icon="face" label="About"</core-item></paper-item></a>
        <a href="/archive/"><paper-item><core-item icon="folder" label="Archive"</core-item></paper-item></a>
        <a href="/tags/"><paper-item><core-item icon="label" label="Tags"</core-item></paper-item></a>
         <core-submenu icon="open-in-new" label="SNS">
            <a href="https://www.facebook.com/hanyoungbin"><paper-item><core-item icon="fa:facebook" label="Facebook"</core-item></paper-item></a>
            <a href="https://google.com/+한영빈96"><paper-item><core-item icon="fa:google-plus" label="Google Plus"</core-item></paper-item></a>
            <a href="https://twitter.com/sukso96100"><paper-item><core-item icon="fa:twitter" label="Twitter"</core-item></paper-item></a>
            <a href="https://github.com/sukso96100"><paper-item><core-item icon="fa:github" label="Github"</core-item></paper-item></a>
        </core-submenu>
    </core-menu>

