  
    <core-menu>
        <github-card user="sukso96100"></github-card>
        <paper-item onclick="href('/blog/')"><core-item icon="subject" label="Recent Posts"</core-item></paper-item>
        <paper-item onclick="href('/archive/')"><core-item icon="folder" label="Archive"</core-item></paper-item>
        <paper-item onclick="href('/tags/')"><core-item icon="label" label="Tags"</core-item></paper-item>
        <core-submenu icon="more-horiz" label="Other">
            <paper-item onclick="href('/')"><core-item icon="home" label="Home"</core-item></paper-item>
            <paper-item onclick="href('/about/')"><core-item icon="face" label="About"</core-item></paper-item>
            <paper-item onclick="href('/works/')"><core-item icon="work" label="My Works"</core-item></paper-item>
            <paper-item onclick="href('https://youngbinnet-slack.herokuapp.com/')"><core-item icon="question-answer" label="Chat(Slack)"</core-item></paper-item>
        </core-submenu>
         <core-submenu icon="group-work" label="SNS">
            <paper-item onclick="href('https://www.facebook.com/hanyoungbin')"><core-item icon="fa:facebook" label="Facebook"</core-item></paper-item>
            <paper-item onclick="href('https://google.com/+한영빈96')"><core-item icon="fa:google-plus" label="Google Plus"</core-item></paper-item>
            <paper-item onclick="href('https://twitter.com/sukso96100')"><core-item icon="fa:twitter" label="Twitter"</core-item></paper-item>
            <paper-item onclick="href('https://github.com/sukso96100')"><core-item icon="fa:github" label="Github"</core-item></paper-item>
        </core-submenu>
    </core-menu>

