<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<!--Nanum Gothic Google Web Font-->
    <style type="text/css">
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
    </style>
    <!--Roboto Google Web Font-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">
<!-- IE6~8 Media Query and HTML5 Element Support-->
<!--[if lt IE 9]>
<script src="{{ "/javascript/respond.src.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/javascript/html5shiv-printshiv.js" | prepend: site.baseurl }}"></script>
<![endif]-->

  <!-- Polymer Components -->
   <!-- 1. Load platform.js for polyfill support. -->
    <script src="{{ "/polymer/platform/platform.js" | prepend: site.baseurl }}"></script>

    <!-- 2. Use an HTML Import to bring in the element. -->
    <link rel="import"
          href="bower_components/core-ajax/core-ajax.html">

</head>
