
<header class="site-header-custom">
<div class="wrap-header">

<!-- Top Navbar Menu-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="wrap-header">
     <ul class="nav navbar-nav">
       <!-- DropDown Site Menu -->
    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-th-list"></span> MENU <b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% for page in site.pages %}
            <li><a class="item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endfor %}
          </ul>
        </li>
<!-- Search Modal Trigger -->
<li data-toggle="modal" data-target="#myModal"><a href="#"><span class="glyphicon glyphicon glyphicon-search"></span> SEARCH</a></li>
      </ul>
  </div>
</nav>

<!-- Title -->
<br><br><br><br><br><br><br><br>
    <a href="{{ site.baseurl }}/"><h1 class="ui huge inverted header">{{ site.title }}</h1></a>
<br><br>

  </div>
</header>


<!-- Search Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon glyphicon-search"></span> SEARCH</h4>
      </div>
      <div class="modal-body">

<!-- Search Box -->
<div class="col-lg-6">
  <form method="get" action="/search" data-search-form>
    <div class="input-group">
      <input type="search" name="q" id="q" class="form-control" placeholder="Search..." data-search-input/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" value="Search">Search</button>
      </span>
    </div>
  </form>
  </div>
<br><br>
      <!-- Search results placeholder -->
      <p data-search-found>
        &ldquo;<span data-search-found-term></span>&rdquo; 에 대한 <span data-search-found-count></span> 개의 검색결과 입니다.
      </p>
      <div data-search-results></div>
<br>
      <!-- Search result template -->
      <script type="text/x-template" id="search-result">
        <div>
          <h1><a href="##Url##">##Title##</a></h1>
          <h2><a href="##Url##">##Date##</a></h2>
          <a href="##Url##">&ldquo;##Title##&rdquo; 게시물 읽기</a>
        </div>
      </script>
<br><br>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
