<div class="ui fixed secondary menu">
 <div class="large ui black labeled icon toggle button">
 <i class="list layout icon"></i> 메뉴</div></div>
<header class="site-header-custom">
<div class="wrap-header">

    <br><br><br>
    <a href="{{ site.baseurl }}/"><h1 class="ui huge inverted header">{{ site.title }}</h1></a>
    <br>
<!--사이드바-->
        <div class="ui vertical sidebar menu">
  <a class="item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </div>
  </div>

</header>
