<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">
<!-- IE6~8 Media Query and HTML5 Element Support-->
<!--[if lt IE 9]>
<script src="{{ "/javascript/respond.src.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/javascript/html5shiv-printshiv.js" | prepend: site.baseurl }}"></script>
<![endif]-->
<script src="{{ "/tipuesearch/tipuesearch_set.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/tipuesearch/tipuesearch_content.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/tipuesearch/tipuesearch.js" | prepend: site.baseurl }}"></script>
</head>
