{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 -}}
<div class="btn-group justify-center">
  {{ with $pag.First -}}
  <button class="btn" onclick="location.href={{ .URL }}">First</button>
  {{ end -}}
  <button class="btn {{ if not $pag.HasPrev }} btn-disabled{{ end }}" {{ if $pag.HasPrev }}onclick="location.href={{ $pag.Prev.URL }}"{{ end }}>Prev</button>
  {{- $ellipsed := false -}}
  {{- $shouldEllipse := false -}}
  {{- range $pag.Pagers -}}
  {{- $right := sub .TotalPages .PageNumber -}}
  {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
  {{- $showNumber := or $showNumber (le .TotalPages 5) -}}{{/* Issue #7523 */}}
  {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2))) -}}
  {{- if $showNumber -}}
    {{- $ellipsed = false -}}
    {{- $shouldEllipse = false -}}
  {{- else -}}
    {{- $shouldEllipse = not $ellipsed -}}
    {{- $ellipsed = true -}}
  {{- end -}}
  {{- if $showNumber }}
  <button class="btn {{ if eq . $pag }}btn-active{{ end }}" onclick="location.href={{ .URL }}">{{ .PageNumber }}</button>
  {{- else if $shouldEllipse }}
  <button class="btn">…</button>
  {{- end -}}
  {{- end }}
  <button class="btn {{ if not $pag.HasNext }} btn-disabled{{ end }}" {{ if $pag.HasNext }}onclick="location.href={{ $pag.Next.URL }}"{{ end }}><a ></a>Next</a></button>
  {{- with $pag.Last }}
  <button class="btn" onclick="location.href={{ .URL }}">Last</button>
  {{- end }}
</div>
{{ end }}