<!DOCTYPE html>
<html>

  {% include head.html %}
<!--상단 막대-->
   
    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}
<script src="{{ "/javascript/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/javascript/semantic.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/javascript/sidebar.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
