<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
        <!--Old Web Browser Warning-->
        <!--[if lt IE 9]>
        <div class="ui red message">
        <font color="red">
          The web browser that you are using is too old that it can't display contents properly<br>
          Please switch to modern web browsers such as Chrome, Firefox, Opera, Internet Explorer 9+<br>
          사용중인 웹 브라우저가 너무 낡아, 이 웹사이트의 컨텐츠를 제대로 표시하지 못합니다.<br>
          크롬, 파이어폭스, 오페라, 인터넷 익스플로러9 이상 버전 등의 최신 웹 브라우저를 사용하세요.<br>
        </font>
        </div>
        <![endif]-->
      {{ content }}
      </div>
    </div>

    {% include footer.html %}
        <script src="{{ "/javascript/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/javascript/bootstrap.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/tipuesearch/tipuesearch_set.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/tipuesearch/tipuesearch.js" | prepend: site.baseurl }}"></script>
        <script>
        $(document).ready(function() {
          $('#tipue_search_input').tipuesearch({
            'mode': 'json',
            'contentLocation': '{{ "/tipuesearch/contents.json" | prepend: site.baseurl }}'
          });
        });
        </script>
        </body>
      </html>
