---
layout: default
---

<core-drawer-panel id="drawerPanel">

  <core-header-panel drawer flex>
      {% include drawer-common.html %}
   </core-header-panel>

  <core-header-panel main>
    <core-toolbar id="toolbar" id="mainheader">
      <paper-icon-button 
        id="navicon" icon="menu" class="white"></paper-icon-button>
        <span flex style="color:white;">{{ page.title }}</span>
    </core-toolbar>
    <div class="main-content">
          {{ content }}
    </div>
  </core-header-panel>

</core-drawer-panel>
<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>
