---
layout: default
---

<paper-scroll-header-panel class="flex">
    <paper-toolbar>
        <paper-icon-button icon="arrow-back" onclick="href('/blog/')"></paper-icon-button>
    </paper-toolbar>
    <div>
         {% if page.image %}
        <paper-material>
            <paper-ripple onclick="href('#TITLE')"></paper-ripple>
         <img class="container" src="{{ page.image }}">
            </paper-material>
         {% endif %}
    <paper-material style="margin:24px; padding:24px;"> 
     
            <p><iron-icon icon="today"></iron-icon> {{ page.date | date: "%Y.%m.%d" }}</p> 
             <p id="TITLE" style="font-size:2.5em;">{{ page.title }}</p>
             <hr><br>
            {{ content }}
                     <!-- 구글플러스 +1 버튼 -->
<!-- +1 버튼을(를) 표시하고 싶은 위치에 이 태그를 배치하세요. -->
<br><br><div class="g-plusone"></div><br>
<!-- Facebook 좋아요 버튼 -->
            <div class="fb-like" data-href="{{ page.baseurl }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div><br><br>
        </paper-material>
        
         <paper-material style="margin:24px; padding:24px;" z="1">
           
                <p><iron-icon icon="label"></iron-icon> Tags</p>
                
                 {% for tag in page.tags %}
                <a class="card-content" href="{{ site.baseurl }}/tags/#{{ tag }}"> 
                    <paper-button>{{ tag }}</paper-button> </a>
                {% endfor %}
              
           
        </paper-material>
        
         <paper-material style="margin:24px; padding:24px;" z="1">
            {% include disqus.html %}
           
        </paper-material>
   </div>
</paper-scroll-header-panel>




<script src="{{ "/bower_components/jquery/dist/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/jQuery.dotdotdot/src/js/jquery.dotdotdot.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/post.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>
{% include javascripts.html %}

